{% extends "base.html" %}
{% block content %}
  <h1>Автомобиль: {{ car.make }} {{ car.model }}</h1>
  <dl class="row">
    <dt class="col-sm-3">VIN</dt><dd class="col-sm-9">{{ car.vin }}</dd>
    <dt class="col-sm-3">Год выпуска</dt><dd class="col-sm-9">{{ car.year }}</dd>
    <dt class="col-sm-3">Цена</dt><dd class="col-sm-9">{{ car.price }}</dd>
    <dt class="col-sm-3">В наличии</dt><dd class="col-sm-9">{{ car.is_available|yesno:"Да,Нет" }}</dd>
  </dl>
  <a class="btn btn-secondary" href="{% url 'car_list' %}">Назад</a>
  {% if perms.salon.change_car %}
    <a class="btn btn-warning" href="{% url 'car_edit' car.pk %}">Изменить</a>
  {% endif %}
  {% if perms.salon.delete_car %}
    <a class="btn btn-danger" href="{% url 'car_delete' car.pk %}">Удалить</a>
  {% endif %}
{% endblock %}
