{% extends "base.html" %}
{% block content %}
  <h1>{% if object %}Редактировать{% else %}Добавить{% endif %} сервисный заказ</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h3>Запчасти</h3>
    {{ formset.management_form }}
    <table class="table">
      {% for subform in formset %}
        <tr>
          <td>{{ subform.part.label_tag }} {{ subform.part }}</td>
          <td>{{ subform.quantity.label_tag }} {{ subform.quantity }}</td>
          <td>
            {% if subform.instance.pk %}
              {{ subform.DELETE }} <label>Удалить</label>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a class="btn btn-secondary" href="{% url 'service_list' %}">Отмена</a>
  </form>
{% endblock %}